# TODO add test coverage
name: Run Tests on every commit

on:
  push: 
    branches-ignore:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
      - name: Get current branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: get_branch

      - name: Check out repository
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.get_branch.outputs.branch }}

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ] ; then pip install -r requirements.txt; fi
      
      - name: Run pytest
        run: |
          python -m pytest --import-mode=append tests/
          pytest --cov=shop_app tests/